body header {
  width: 100%;
  height: 85px;
  display: flex;
  background-color: whitesmoke;
}
body header .container {
  width: 176px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
  vertical-align: middle;
}
body header .container a .tbc {
  width: 176px;
  height: 40px;
}
body .container1 {
  display: flex;
  width: 600px;
  height: 20px;
  margin-left: 530px;
  margin-top: 23px;
  vertical-align: middle;
}
body .container1 nav {
  display: flex;
}
body .container1 nav i {
  margin-top: 5px;
  margin-left: 20px;
}
body .container1 nav ul {
  display: flex;
  justify-content: space-around;
}
body .container1 nav ul li {
  display: flex;
  margin-left: 20px;
  color: #000;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  font-family: "BPG Mikheil Stefane", sans-serif;
}
body .seq-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 595px;
  background-image: url(../image/header_bg2.jpg);
}
body .seq-1 .header-photo {
  width: 1300px;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
}
body .seq-1 .header-photo h1 {
  position: absolute;
  color: #fefefe;
  text-align: center;
  text-shadow: 0px 27px 5px 0px rgb(157, 92, 0);
  font-family: Circular Std;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: lowercase;
  top: 190px;
}
body .seq-1 .header-photo .text {
  position: absolute;
  font-size: 40px;
  top: 300px;
}
body .seq-1 .header-photo .blokebi {
  width: 1300px;
  height: 500px;
  border-radius: 20px;
}
body .seq-2 {
  display: flex;
}
body .seq-2 .mshobeli p {
  font-weight: 800;
  font-size: 20px;
  line-height: 10px;
  margin-left: 180px;
  margin-top: 50px;
  font-family: "BPG Arial Caps", sans-serif;
  width: 547px;
}
body .seq-2 .mshobeli h3 {
  color: #565656;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 180px;
  margin-top: 50px;
  margin-bottom: 30px;
}
body .seq-2 .mshobeli .shetavazebebi {
  display: flex;
  margin-top: 20px;
  margin-left: 165px;
  width: 547px;
  justify-content: space-around;
}
body .seq-2 .mshobeli .shetavazebebi .image {
  width: 65px;
  height: 65px;
}
body .seq-2 .mshobeli .shetavazebebi h2 {
  display: flex;
  font-weight: 800px;
  font-size: 14px;
  margin-left: 25px;
}
body .seq-2 .mshobeli2 {
  display: flex;
  margin-top: 50px;
  margin-left: 150px;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  height: 130px;
}
body .seq-2 .mshobeli2 .min-box {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
body .seq-2 .mshobeli2 .min-box h3 {
  color: #565656;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}
body .seq-2 .mshobeli2 .min-box .icon {
  width: 30px;
  height: 30px;
  margin-right: 70px;
}
body .seq-2 .mshobeli2 .min-box h4 {
  color: #565656;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 7px;
  margin-right: 80px;
}
body .seq-2 .photo-3 {
  margin-top: 80px;
}
body .seq-2 .photo-3 .footwine {
  width: 504px;
  height: 194px;
  border-radius: 10px;
}
body .seq-2 .h-3-photos {
  display: flex;
  justify-content: space-around;
}
body .seq-2 .photowine {
  width: 250px;
  height: 194px;
  border-radius: 10px;
}

body .footer {
  background-color: #24262b;
  padding: 70px 0;
  box-sizing: border-box;
  margin-top: 100px;
}
body .footer .conteiner {
  max-width: 1170px;
  margin: auto;
}
body .footer .conteiner .row {
  display: flex;
  flex-wrap: wrap;
}
body .footer .conteiner .row .footer-col {
  width: 25%;
  padding: 0 15px;
}
body .footer .conteiner .row .footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 400;
  position: relative;
}
body .footer .conteiner .row .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
body .footer .conteiner .row .footer-col ul li:not(:last-child) a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
body .footer .conteiner .row .social {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: gray;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s;
}/*# sourceMappingURL=mtavari1.css.map */