/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  width: 100%;
  height: 85px;
  display: flex;
  background-color: whitesmoke;
}
body header .container {
  width: 176px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
  vertical-align: middle;
}
body header .container a .tbc {
  width: 176px;
  height: 40px;
}
body .container1 {
  display: flex;
  width: 600px;
  height: 20px;
  margin-left: 530px;
  margin-top: 23px;
  vertical-align: middle;
}
body .container1 nav {
  display: flex;
}
body .container1 nav i {
  margin-top: 5px;
  margin-left: 20px;
}
body .container1 nav ul {
  display: flex;
  justify-content: space-around;
}
body .container1 nav ul li {
  display: flex;
  margin-left: 20px;
  color: #000;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  font-family: "BPG Mikheil Stefane", sans-serif;
}
body .m-photo {
  display: block;
  width: 100%;
  height: 700PX;
}
body .m-photo .bigphoto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700PX;
}
body .m-photo h1 {
  position: absolute;
  top: 420px;
  left: 113px;
  font-size: 100px;
  font-weight: 400;
  line-height: 150px;
  font-family: "BPG Ucnobi", sans-serif;
  color: #fbfbfb;
}

body .text {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
}
body .text h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 150px;
  font-family: "BPG Ucnobi", sans-serif;
  color: #6a6a6a;
  height: 50px;
  display: flex;
  justify-content: center;
}

body .footer {
  background-color: #24262b;
  padding: 70px 0;
  box-sizing: border-box;
}
body .footer .conteiner {
  max-width: 1170px;
  margin: auto;
}
body .footer .conteiner .row {
  display: flex;
  flex-wrap: wrap;
}
body .footer .conteiner .row .footer-col {
  width: 25%;
  padding: 0 15px;
}
body .footer .conteiner .row .footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 400;
  position: relative;
}
body .footer .conteiner .row .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
body .footer .conteiner .row .footer-col ul li:not(:last-child) a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
body .footer .conteiner .row .social {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: gray;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s;
}/*# sourceMappingURL=saeerto4.css.map */