/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  width: 100%;
  height: 85px;
  display: flex;
  background-color: whitesmoke;
}
body header .container1 {
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
body header .container1 .burger_menu .burger_menu_icon {
  background-color: transparent;
  border: none;
}
body header .container1 .burger_menu .burger_menu_icon i {
  font-size: 25px;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 10px;
}
body header .container1 nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 550px;
}
body header .container1 nav ul li {
  margin-left: 20px;
  color: #000;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  font-family: "BPG Mikheil Stefane", sans-serif;
}
body header .container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
  vertical-align: middle;
}
body header .container a .tbc {
  width: 176px;
  height: 40px;
}
body .m-photo {
  display: block;
  width: 100%;
  height: 812px;
}
body .m-photo .bigphoto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
body .m-photo h1 {
  position: absolute;
  top: 420px;
  left: 113px;
  font-size: 100px;
  font-weight: 400;
  line-height: 150px;
  font-family: "BPG Ucnobi", sans-serif;
}
body .m-photo h2 {
  position: absolute;
  top: 570px;
  left: 113px;
  font-size: 100px;
  font-weight: 400;
  line-height: 150px;
  font-family: "BPG Ucnobi", sans-serif;
}
body .seq-1 {
  margin-top: -115px;
  width: 100%;
  height: 1057px;
}
body .seq-1 .mshobeli {
  display: flex;
  height: 1057px;
  border-top: rgba(255, 255, 255, 0.4);
  background: linear-gradient(180deg, #6f1c07 0%, rgba(0, 190, 172, 0) 100%);
}/*# sourceMappingURL=saerto.css.map */