body{
    header{
        width: 100%;
        height: 85px;
        display: flex;
        background-color: whitesmoke;
        
        .container1{
            display: flex;
            width: 600px;
            height: 20px;
            margin-left: 530px;
            margin-top: 23px;
            vertical-align: middle;
          
            
            
            
            nav{
                display: flex;
                i{
                   margin-top: 5px;
                    margin-left: 20px;
                    
                }
                
                ul{
                    display: flex;
                    justify-content: space-around;
                    li{
                        display: flex;
                       margin-left: 20px ;
                       color: #000;
                       text-align: right;
                       font-size: 18px;
                       font-style: normal;
                       font-weight: 500;
                       line-height: normal;
                       text-transform: capitalize;
                       font-family: "BPG Mikheil Stefane", sans-serif;
                    }
                }
               
            }
        }

        .container{
                width: 176px;
                height: 40px;
                display: flex;
                margin-top: 18px;
                margin-left: 100px;
                vertical-align: middle;

            a{
               .tbc{
                width: 176px;
                height: 40px;
                }
            }
        }
    }
    .m-photo{
        display: block;
        width: 100%;
        height: 812PX;
        .bigphoto{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 700PX;
        }
        h1{
            position: absolute;
            top: 420px;
            left: 113px;
            font-size: 100px;
            font-weight: 400;
            line-height: 150px;
            font-family: "BPG Ucnobi", sans-serif;
            color: #fff200;


        }
        h2{
            position: absolute;
            top: 570px;
            left: 113px;
            font-size: 100px;
            font-weight: 400;
            line-height: 150px;
            font-family: "BPG Ucnobi", sans-serif;
            color: #fff200;


        }
    }
    .seq-1{
        margin-top: -115px;
        width: 100%;
        height: 1057px;
          border-top: rgba(255, 255, 255, 0.4);
            background: linear-gradient(180deg, #cb5800 0%, rgba(0, 190, 172, 0.00) 100%);
            position: relative;
        .mshobeli{
            width: 100%px;
            height: 350px;
            flex-shrink: 0;
          
            .text{
                
                display: flex;
                justify-content: center;
                top: 157px;                              
            p{ 
                position: absolute;
                top: 157PX;
                width: 579px;
                height: 92px;
                flex-shrink: 0;
                color: #ffffff;
                text-align: center;
                font-family: Smith Allison;
                font-size: 100px;
                font-style: normal;
                font-weight: 400;
                line-height: 82.8%; /* 165.6px */
                font-family: "BPG Ucnobi", sans-serif;}
            .P{ 
                position: absolute;
                top: 295PX;
                color: #FFF;
                text-align: center;
                font-family: Circular Std;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-family: "BPG Ucnobi", sans-serif;
            }}}
            .didi-div{
                
                width: 100%;
                height: 700px;
                top: 470px ;
                .shvili-div{
                      display: flex;
                      justify-content: space-around;
                .image-div{
                   position: relative;
                   width: 310px;
                   height: 553px;
                    .div-image-text{
                        position: absolute;
                        top: 380px ;
                        left: 70px ;
                        color: #FFF;
                        text-align: center;
                        font-family: Circular Std;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                       }
                 .div-image{
                    width: 310px;
                    height: 553px;
                    top: 1398px;
                    left: 70px;
                    border-radius: 10px;
                   }
                }
            }
        }
    }
}
              
                        
                     
                    