body{
header {
    width: 1499px;
    height: 85px;
    display: flex;
    background-color: whitesmoke;
    .container {
      width: 176px;
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 100px;
      vertical-align: middle;

      a {
        .tbc {
          width: 176px;
          height: 40px;
        }
      }
    }
  }
      
        .container1{
            display: flex;
            width: 600px;
            height: 20px;
            margin-left: 530px;
            margin-top: 23px;
            vertical-align: middle;

            nav{
                display: flex;
                i{
                   margin-top: 5px;
                    margin-left: 20px;
                    
                }
                
                ul{
                    display: flex;
                    justify-content: space-around;
                    li{
                        display: flex;
                       margin-left: 20px ;
                       color: #000;
                       text-align: right;
                       font-size: 18px;
                       font-style: normal;
                       font-weight: 500;
                       line-height: normal;
                       text-transform: capitalize;
                       font-family: "BPG Mikheil Stefane", sans-serif;
                    }
                   }
                }
              }
              
       .seq-1{
        display: flex;
        width: 1499px;
        justify-content: center;
        height: 595px;
        background-color: #904906ad;
        .header-photo{
          width: 1300px;
          height: 500px;
          display: flex;
          justify-content: center;
          position: relative;
          h1{
            position: absolute;
            color: #fefefe;
            text-align: center;
            text-shadow: 0px 27px 5px 0px rgb(157, 92, 0);
            font-family: Circular Std;
            font-size: 80px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.4px;
            text-transform: lowercase;
            top: 190px;
          }
          .text{
            position: absolute;
            font-size: 40px;
            top: 300px ;
          }

          .blokebi{
            
            width: 1300px;
            height: 500px;
            border-radius: 20px;
          }

        }

       }   
       .seq-2{
        display: flex;
        
        
        .mshobeli{
          p{
            font-weight: 800;
            font-size: 20px;
            line-height: 10px;
            margin-left: 180px;
            margin-top: 50px;
            font-family: "BPG Arial Caps", sans-serif;
            width: 547px;
          }
          h3{
            color: #565656;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-left: 180px;
            margin-top: 50px;
            margin-bottom: 30px;
           

          }

          .shetavazebebi{
            display: flex;
            margin-top: 20px;
            margin-left: 165px;
            width: 547px;
            justify-content: space-around;
            .image{
              width: 65px;
              height: 65px;
            }
            h2{
              display: flex;
              font-weight: 800px;
              font-size: 14px;
              margin-left: 25px;
            }
          }

        }
        .mshobeli2{ display: flex;
          margin-top: 50px;
          margin-left: 150px;
           border-radius:10px ;
            border: 1px solid #E5E5E5;
            height: 130px;
          .min-box{
            width: 500px ;
            display: flex;
            justify-content: space-around;
            
            h3{
              color: #565656;
              font-family: Roboto;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
              margin-top: 20px;
              margin-bottom: 30px;
              
            }
            .icon{
              width: 30px;
              height: 30px;
              margin-right: 70px;
            }
            h4{
              color: #565656;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
              margin-top: 7px;
              margin-right: 80px;
            
              
            }

          }
        }
        .photo-3{
          margin-top: 80px;
          .footwine{
            width: 504px;
            height: 194px;
            border-radius: 10px;
          }
        }
       .h-3-photos{
        display: flex;
        justify-content: space-around;}
        .photowine{
          width: 250px;
          height: 194px;
          border-radius: 10px;
        }
       
       }  

}
body{
  footer{
    margin-top: 150px;
            

  .footer{
    
    width: 1500px;

  }
}
}